.footer {
    background-color: #23283b;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(226, 226, 226);

    .registerButton {
        color: rgb(226, 226, 226);
        border-color: rgb(226, 226, 226);
    }
}