<h4 class="text-center h4">
  <?= htmlspecialchars($post->getTitle()); ?>
</h4>
<div class="cards-wrapper">
  <div class="card-group row row-cols-1 article-cards">
    <div class="col">
      <div class="card h-100 text-center w-100">
        <div class="card-header">
          Par
          <?= htmlspecialchars($post->getUser()->getPseudo() ?? 'Inconnu'); ?>
          posté
          le :
          <?= htmlspecialchars($post->getCreatedAt()); ?>
        </div>
        <div class="img-and-button">
          <img src="/blogphp/src/Ressources/logo.png" class="card-img-top" alt="imageArticle" />
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <?= htmlspecialchars($post->getTitle()); ?>
          </h5>
          <p class="card-text">
            <?= htmlspecialchars($post->getContent()); ?>
          </p>
        </div>
        <div class="card-footer">
          Catégorie :
          <?= htmlspecialchars($post->getCategory()->getName() ?? 'Inconnu'); ?>
        </div>
      </div>
    </div>
  </div>
</div>