<!DOCTYPE html>
<link rel="stylesheet" href="/blogphp/src/templates/style/article.css">
<main>
  <h4 class="text-center h4">
    <?= htmlspecialchars($post->getTitle()); ?>
  </h4>
  <div class="article">
    <p class="author"> Par
      <?= htmlspecialchars($post->getUser()->getPseudo() ?? 'Inconnu'); ?>
      posté
      le :
      <?= htmlspecialchars($post->getCreatedAt()); ?>
    </p>
    <div class="main-content">
      <div class="img-and-text">
        <img src="/blogphp/src/Ressources/logo.png" class="article-img" alt="imageArticle" />
        <p class="article-text">
          <?= htmlspecialchars($post->getContent()); ?>
        </p>
      </div>
    </div>
    <?php if (!empty($comments)) { ?>
    <div class="comments">
      <?php  foreach ($comments as $comment) { ?>
      <div class="comment">
        <span class="pseudo">
          <?= htmlspecialchars($commentUserName[$comment->getUserId()]); ?>
          :
        </span>
        <p class="content">
          <?= htmlspecialchars($comment->getContent()); ?>
        </p>
        <p class="date">
          <?= htmlspecialchars($comment->getCreatedAt()); ?>
        </p>
      </div>
      <?php }
      ?>
    </div>
    <?php } ?>

  </div>
</main>