<!DOCTYPE html>
<footer class="footer text-center p-1">
  Inscrivez-vous pour poster des commentaires ou proposer des articles

  <button type="button" class="btn btn-outline-primary registerButton" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    s'inscrire
  </button>
</footer>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Inscription
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="text-start needs-validation" action="/blogphp/add-user" method="POST">
          <div class="mb-3">
            <input type="hidden" name="token"
              value="<?= $_SESSION['token']?>" />
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" name="email" class="form-control <?php if (isset($_SESSION['subscribe_error']) && in_array('email', $_SESSION['subscribe_error'])) {
            	echo 'is-invalid';
            }?>" id="exampleInputEmail1" aria-describedby="emailHelp" autocomplete="off" value="<?php if (isset($_SESSION['subscribe_error']['email'])) {
            	echo $_SESSION['subscribe_error']['email'];
            } ?>" />
            <?php if (isset($_SESSION['subscribe_error']) && in_array('email', $_SESSION['subscribe_error'])) {
            	echo '<div id="emailHelp" class="text-danger">
              <small>email invalide ou manquant</small>
            </div>';
            } if (isset($_SESSION['subscribe_error']) && in_array('email_already_used', $_SESSION['subscribe_error'])) {
            	echo '<div id="emailHelp" class="text-danger">
              <small>un utilisateur est déjà inscrit avec cet email</small>
            </div>';
            }?>

          </div>
          <div class="mb-3">
            <label for="pseudoInput" class="form-label">Pseudo</label>
            <input type="text" name="pseudo" class="form-control" maxlength="15" id="pseudoInput"
              aria-describedby="pseudoHelp" autocomplete="on" value="<?php if (isset($_SESSION['subscribe_error']['pseudo'])) {
              	echo $_SESSION['subscribe_error']['pseudo'];
              } ?>" />
            <?php if (isset($_SESSION['subscribe_error']) && in_array('pseudo', $_SESSION['subscribe_error'])) {
            	echo '<div class="text-danger">
              <small>pseudo invalide ou manquant</small>
            </div>';
            }?>
            <div id="pseudoHelp" class="form-text">
              Ce pseudo sera votre identité auprès des autres utilisateurs
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
            <input type="password" name="password" minlength="6" class="form-control" id="exampleInputPassword1"
              autocomplete="on" />
            <?php if (isset($_SESSION['subscribe_error']) && in_array('password', $_SESSION['subscribe_error'])) {
            	echo '<div class="text-danger">
              <small>mot de passe invalide ou manquant</small>
            </div>';
            }?>
          </div>
          <div class="mb-3">
            <label for="firstNameInput" class="form-label">Prénom</label>
            <input type="text" name="firstname" class="form-control" maxlength="15" id="firstNameInput"
              autocomplete="on" value="<?php if (isset($_SESSION['subscribe_error']['firstname'])) {
              	echo $_SESSION['subscribe_error']['firstname'];
              } ?>" />
            <?php if (isset($_SESSION['subscribe_error']) && in_array('firstname', $_SESSION['subscribe_error'])) {
            	echo '<div class="text-danger">
              <small>prénom invalide ou manquant</small>
            </div>';
            }?>
          </div>
          <div class="mb-3">
            <label for="lastNameInput" class="form-label">Nom</label>
            <input type="text" name="lastname" class="form-control" maxlength="15" id="lastNameInput" autocomplete="on"
              value="<?php if (isset($_SESSION['subscribe_error']['lastname'])) {
              	echo $_SESSION['subscribe_error']['lastname'];
              } ?>" />
            <?php if (isset($_SESSION['subscribe_error']) && in_array('lastname', $_SESSION['subscribe_error'])) {
            	echo '<div class="text-danger">
              <small>nom invalide ou manquant</small>
            </div>';
            }?>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Abandonner
            </button>
            <button type="submit" class="btn btn-primary">
              Confirmer l'inscription
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  const formError =
    <?php echo json_encode(isset($_SESSION['subscribe_error']), JSON_HEX_TAG) ?>
    ?
    true : false;

  if (formError) {
    const modalToggle = new bootstrap.Modal(document.getElementById('exampleModal'), {
      keyboard: false
    });
    modalToggle.show();
    <?php unset($_SESSION['subscribe_error']) ?>
  }
</script>