<div class="headerWrapper">
  <img
    src="src/Ressources/logo.png"
    alt=""
    class="welcomeLogo"
  />
  <div class="presentation">
    <p class="name">Aurélien Demblans</p>
    <p class="catchPhrase">
      "Codez comme si la personne qui finit par maintenir votre code est un psychopathe violent qui
      sait où vous vivez." - Jeff Atwood
    </p>
    <button
      type="button"
      class="btn"
    >
      Me contacter
    </button>
    <button
      type="button"
      class="btn"
    >
      CV format PDF
    </button>
  </div>
</div>
