<!DOCTYPE html>
<header>
  <div class="imgAndText">
    <img
      src="/blogphp/src/Ressources/logomini.png"
      alt=""
      class="welcomeLogoSmall"
    />
    <p class="name">Bienvenue dans la Rubrik à Brak, blog en php natif par Aurélien Demblans</p>
    <hr />
    <p class="catchPhrase">
      "Codez comme si la personne qui finit par maintenir votre code est un psychopathe violent qui
      sait où vous vivez." - Jeff Atwood
    </p>
  </div>
</header>
<div class="social-media">
  <a href="https://github.com/AurelienDemblans"><i class="fa-brands fa-linkedin fa-lg"></i>mon Linkedin</a>
  <a href="https://www.linkedin.com/in/aur%C3%A9lien-demblans-676a93246/"><i class="fa-brands fa-github fa-lg"></i>mon Github</a>
</div>
<div class="buttons">
  <button
    type="button"
    class="btn btn-outline-primary"
  >
  <i class="fa-solid fa-envelope fa-lg"></i>
    Me contacter
  </button>
  <button
    class="btn btn-outline-primary"
  >
  <i class="fa-solid fa-file-import fa-lg"></i>
  <a href="/blogphp/src/Ressources/CV_Aurelien.pdf" download>CV format PDF</a>
  </button>
</div>
