<!DOCTYPE html>
<h4 class="text-center h4">Voici les derniers articles parus sur notre blog</h4>
<?php if (count($posts) === 0) { ?>
<div class="text-center" style="margin: 2em;">Il n'y a aucun article pour le moment</div>
<?php } ?>
<div class="cards-wrapper">
  <div class="card-group row row-cols-1 row-cols-sm-2 row-cols-md-3 article-cards">
    <?php foreach ($posts as $post) { ?>
    <div class="col">
      <div class="card h-100 text-center w-33">
        <div class="card-header">
          Par
          <?= htmlspecialchars($post->getUser()->getPseudo() ?? 'Inconnu'); ?>
          posté
          le :
          <?= htmlspecialchars($post->getCreatedAt()); ?>
        </div>
        <a class="go-to-post"
          href="/blogphp/article/<?= $post->getId() ?>"><button
            class="btn btn-primary">consulter</button></a>
        <div class="card-body">
          <h5 class="card-title">
            <?= htmlspecialchars($post->getTitle()); ?>
          </h5>
          <div class="card-text">
            <?= $post->getContent(); ?>
          </div>
        </div>
        <div class="card-footer">
          Catégorie :
          <?= htmlspecialchars($post->getCategory()->getName() ?? 'Inconnu'); ?>
        </div>
      </div>
    </div>
    <?php } ?>
  </div>
</div>