<!DOCTYPE html>
<link
  rel="stylesheet"
  href="/blogphp/src/templates/style/createPost.css"
/>
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.1/classic/ckeditor.js"></script>
<div class="container-fluid create_article">
  <h2 class="text-center mt-3">Liste des articles</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <?php foreach ($posts as $post) { ?>

    <div class="col">
      <div class="card h-100">
        <div class="card-header">
          Par
          <?= htmlspecialchars($post->getUser()->getPseudo() ?? 'Inconnu'); ?> posté le :
          <?= htmlspecialchars($post->getCreatedAt()); ?>
        </div>
        <div class="card-body">
          <h5 class="card-title"><?= htmlspecialchars($post->getTitle()); ?></h5>
          <p class="card-text text-center">
          <a href="/blogphp/administration/modifier-article/<?= $post->getId() ?>"><button
              class="btn btn-primary">modifier</button></a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary"
            >Catégorie :
            <?= htmlspecialchars($post->getCategory()->getName() ?? 'Inconnu'); ?></small
          >
        </div>
      </div>
    </div>

    <?php } ?>
  </div>
</div>
